<div *ngIf="cartService.productos.length > 0" style="padding: 20px; margin: 30px 10px">
  <h1>Productos en carrito</h1>
  <table
    mat-table
    [dataSource]="cartService.productos"
    multiTemplateDataRows
    *ngIf="showTable"
    class="mat-elevation-z8"
  >
    <ng-container
      matColumnDef="{{ column }}"
      *ngFor="let column of columnsToDisplay"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let element">
          <div [ngSwitch]='column'>
            <p *ngSwitchCase="'name'">
             {{element.producto.name}}
            </p>
            <p *ngSwitchCase="'cantidad'">
                {{element.cantidad}}
            </p>
            <p *ngSwitchCase = "'price'">
                {{element.producto.price * element.cantidad | currency}}
            </p>
            <p *ngSwitchCase = "'accion'">
                <button type="button" mat-button (click)="editarProducto(element.producto, element.cantidad)" >
                    <mat-icon>edit</mat-icon>
                </button>
                <button type="button" mat-button (click)="borrarProducto(element.producto)"  >
                    <mat-icon>highlight_off</mat-icon>
                </button>
            </p>
          </div>
      </td>
    </ng-container>
    

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplay.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div class="example-element-diagram" style="padding: 20px 10px">
            <div class="example-element-position">
              {{ element.producto.price | currency }}
            </div>
            <div class="example-element-symbol" style="padding: 10px">
              <img
                mat-card-image
                style="width: 40%"
                src="https://statics.glamit.com.ar/media/catalog/product/cache/8/image/9df78eab33525d08d6e5fb8d27136e95/g/c/gcr601bl.jpg"
                alt="remera-model.jpg"
              />
            </div>
            <div class="example-element-name">{{ element.name }}</div>
            <div class="example-element-weight">{{ element.weight }}</div>
          </div>
          <div class="example-element-description">
            {{ element.producto.descripcion }}
            <span class="example-element-description-attribution">
              -- Descripcion articulo
            </span>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplay"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>

  <button (click)="crearOrden()" mat-raised-button color="primary" type="button" style="margin-top: 20px;"> 
    <span class="material-icons">
        publish
        </span>  
    Crear orden </button>

</div>
<div *ngIf="cartService.productos.length == 0" class="auth-panel">
    <mat-card>
        <mat-card-header>
           
            <mat-card-title>No hay productos en el carrito</mat-card-title>
            <mat-card-subtitle>El carrito se encuentra vacio</mat-card-subtitle>


          </mat-card-header>
          <mat-card-content>
            <p>
              Pruebe dirigiendose a productos para agregar algunos en el carrito
            </p>
            <button  mat-raised-button color="primary" routerLink='/productos'>
                <span class="material-icons">
                    arrow_forward
                </span>                    
                Ir a productos</button>
          </mat-card-content>
    </mat-card>
</div>

<!-- <pre>
    {{ cartService.productos | json }}
</pre> -->
