<!-- <div class="productos-title">
  <span class="material-icons" style="font-size: 30px">
    add_shopping_cart
  </span>
  Productos
</div> -->

<mat-card style="margin: 10px;">
  <mat-card-header>
    <mat-card-title
      >
      <div style="display: flex; align-items: center;">
       
          Productos
      </div>
    </mat-card-title>
    <mat-card-subtitle>Agregue los productos y la cantidad deseada al carrito de compras</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-grid-list *ngIf="productos" cols="3" rowHeight="2:3">
  <mat-grid-tile *ngFor="let item of productos">
    <app-card-product [producto]="item"></app-card-product>
  </mat-grid-tile>
</mat-grid-list>
