<mat-toolbar color="primary" class="navbar">
  <div>E-Coammerce</div>
  <div class="nav-item animated fadeIn" *ngIf="usuario">
    <span class="material-icons"> account_circle </span>
    <span>Usuario: {{ usuario.email }}</span>
    <a class="nav-link" *ngIf="usuario" (click)="logout()"> Logout </a>
  </div>
  <div class="nav-item">
    <a class="nav-link" routerLink="productos">Productos</a>
    <a class="nav-link" routerLink="/orders">Ordenes</a>
    
    <a class="nav-link" routerLink="login" *ngIf="!usuario">Login</a>

    <mat-icon
      style="cursor: pointer"
      routerLink="/cart"
      [matBadge]="cartService.productos.length"
      matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
  </div>
</mat-toolbar>
