.navbar{
    justify-content: space-between;
}

.nav-link{
    font-size:  17px;
    
}
.nav-link:hover{
    font-size:  18px;
    cursor: pointer;
}

a, span {
    color: inherit;
    text-decoration: none;
    padding-right: 1rem;
}
.nav-item{
    display: flex;
    align-items: center;
}