<div class="auth-panel">
  <form [formGroup]="forma" (ngSubmit)="onSubmit(forma)">
    <h1>Login</h1>
    <formly-form [model]="model" [fields]="fields" [form]="forma">
    </formly-form>
    <div
      class="button-row"
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <!-- <button type="button" mat-raised-button routerLink='/registrar' >Registrarme</button> -->
      <p> Todavia no tengo una cuenta <a routerLink="/registrar">Registrarse</a></p>
      <button mat-raised-button color="primary">Ingresar</button>
    </div>
  </form>
</div>
