<div style="margin: 20px; display: flex; justify-content: center">
  <mat-card class="card-buscar">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <span class="material-icons"> search </span>
      </div>
      <mat-card-title>Buscar orden</mat-card-title>
      <mat-card-subtitle
        >Ingrese el codigo de la orden para buscarla</mat-card-subtitle
      >
    </mat-card-header>
    <form [formGroup]="forma" (ngSubmit)="onSubmit(forma)">
      <mat-card-content style="margin-right: 15px">
        <formly-form [model]="model" [fields]="fields" [form]="forma">
        </formly-form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Buscar orden</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
<h3 style="text-align: center;" *ngIf="cartData" >Estado orden:
    <strong [ngStyle]="{'color': cartData.status == 'pending' ? 'red' : 'green'}">
        {{ cartData.status | uppercase}}
    </strong> </h3>
<div *ngIf="dataSource.length > 0" style="display: flex; justify-content: center;">
    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
</div>
<!-- <pre> {{dataSource | json}} </pre> -->