<div class="auth-panel">
    <form [formGroup]="forma" (ngSubmit)="onSubmit(forma)">
      <h1>Registrar</h1>
      <formly-form [model]="model" [fields]="fields" [form]="forma">
      </formly-form>
      <div
        class="button-row"
        style="display: flex; flex-direction: row; justify-content: space-between"
      >
        <!-- <button type="button" mat-raised-button routerLink='/login' >Loguearme</button> -->
        <p> Ya tengo una cuenta <a routerLink="/login">Login</a></p>
        <button mat-raised-button color="primary">Registrar</button>
      </div>
    </form>
  </div>
  