<h1 mat-dialog-title>Modificar cantidad</h1>
<div mat-dialog-content>
  <p>{{data.name}}</p>
 
 <app-contador [contadorInicio]="data.cantidad"></app-contador>  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Modificar</button>
</div>
 