<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <span class="material-icons"> favorite_border </span>
    </div>
    <mat-card-title>{{ producto.name }}</mat-card-title>
    <mat-card-subtitle>{{producto.price | currency}}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://statics.glamit.com.ar/media/catalog/product/cache/8/image/9df78eab33525d08d6e5fb8d27136e95/g/c/gcr601bl.jpg"
    alt="remera-model.jpg"
  />
  <mat-card-content>
    <p>
      {{ producto.descripcion }}
    </p>
  </mat-card-content>
  <mat-card-actions class="acciones-card"  >
      <div class="bottom-card">

          <app-contador></app-contador>
          <button (click)="addToCart()" mat-raised-button color="primary">Agregar al carrito</button>
      </div>
  </mat-card-actions>
</mat-card>
